<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Tracker Panel</a>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Siguiendo a: <strong class="text-primary">{{ userSelected.nombre }}</strong></h1>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="14">
        <agm-marker 
          *ngFor="let user of users"
          [latitude]="user.lat" 
          [longitude]="user.lng"
          [label]="user.nombre">
        </agm-marker>
      </agm-map>
    </div>
    <div class="col-md-4">
      <h1>Personas</h1>
      <p>
        Seleccione para seguir:
      </p>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let user of users" (click)="seguir_user(user)">
          {{ user.nombre }}
        </li>
      </ul>
      <br>
      <button class="btn btn-primary btn-block" type="button" (click)="dejar_seguir()">Dejar de seguir</button>
    </div>
  </div>
</div>
